@import url("@one-data/observable-themes/styles/header.css");
@import url("@one-data/observable-themes/styles/footer.css");
@import url("@one-data/observable-themes/styles/sidebar.css");
@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

/* format code snippets */
code:not(pre code):not(a code) {
    background: #f1f1f1;
}

 /*format tables*/
table {
  max-width: 960px;
  border-collapse: collapse;
  overflow-y: auto;
  display: block;
}

th, td {
  white-space: nowrap;
  padding: 5px 30px;
}